*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.btn{
    width: 150px;
    padding: 12px;
    background-color: #d0d0d0;
    text-align: center;
    border: 1px solid #adadad;
}
.btn:hover, .button:hover{
    background-color: #adadad;
    cursor: pointer;
}
.container{
    width: 800px;
    margin: 0 auto;
}
.button{
    width: 100px;
    padding: 14px;
    background-color: #d0d0d0;
    text-align: center;
    border: 1px solid #adadad;
    border-radius: 50px;
    margin:50px auto;
}
